@page
@model ContactModel
@{
    ViewData["Title"] = "Kontakt";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<address>
    Intengine Studio<br />
    http://www.intengine.pl
</address>

<address>
    <strong>Mail:</strong> <a href="mailto:studio@intengine.pl">studio@intengine.pl</a><br />
</address>